*.csv
*.xlsx
*.zip
*.gz
*.RData
*.Rhistory
*.DS_Store
*.html
.Rproj.user/
!README.md
!docs/
!docs/**

/.quarto/
**/*.quarto_ipynb
!.nojekyll
*.dat
*.shp
*.dbf
*.prj
*.shx
*.cpg
*.txt
data/
raw_census/
shp/
